[submodule "html2text"]
	path = html2text
	url = https://github.com/aaronsw/html2text.git
[submodule "ENML_PY"]
	path = ENML_PY
	url = https://github.com/CarlLee/ENML_PY.git
[submodule "python-api"]
	path = python-api
	url = https://github.com/shotgunsoftware/python-api.git
[submodule "evernote-sdk-python"]
	path = evernote-sdk-python
	url = https://github.com/evernote/evernote-sdk-python.git
